Lincidence Writeup.aux
Lincidence Writeup.log
Lincidence Writeup.out
Lincidence Writeup.synctex.gz
Lincidence Writeup.tex
.DS_Store
Lincidence_Writeup.aux
Lincidence_Writeup.log
Lincidence_Writeup.synctex.gz
Lincidence_Writeup.tex
Lincidence_Writeup.out
